<%= form_for job do |f| %>
  <% if job.errors.any? %>
    <div class="alert alert-danger">
      <h4>There is <%= pluralize(job.errors.count, "error") %></h4>
      </ul>
        <%job.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <%end%>
      </ul>
    </div>
  <%end%>
    <%= form_group_tag(job.errors[:title]) do %>
      <%=f.label :title %>
      <%= f.text_field :title, class: 'form-control', placeholder: "Enter job title" %>
    <%end%>
    <div class="form-group">
      <%= f.label :description %>
      <%= f.text_area :description, rows: 8, class: 'form-control', placeholder: "Enter job description" %>
    </div>
    <%= f.submit "Save", class: 'btn btn-success' %>
  <% end %>
</div>